@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Poppins:wght@300;400&family=Roboto:wght@300;400;500&display=swap');



/* Style the heading elements */
h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: 'Roboto', sans-serif;
}

/* Style the main container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Style the table headings */
th {
    background-color:#811AC0;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

/* Style the table rows */
tr {
    background-color:#171717;
    color:#D6D6D6;
    border-bottom: 0.5px solid #212121
    ;
}

/* Style the table cells */
td {
    padding: 10px;
    text-align: left;
}

/* Style the button */
button {
    font-family: 'Popins', sans-serif;
    border: none;
    color:#811AC0;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}